.logo img {
  width: 175px;
  height: 100%;
  border-radius: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  margin-right: 20px;
}

nav {
  flex: 1;
  text-align: right;
  margin: auto;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
}

#last {
  margin-right: 0;
  padding-right: 0;
}

nav ul li a {
  text-decoration: none;
  position: relative;
  color: rgb(255, 0, 0);
  font-size: 18px;
  letter-spacing: 0.5px;
}

nav ul li a::after {
  content: "";
  position: absolute;
  background-color: rgb(90, 0, 0);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: rgb(63, 0, 0);
  transition: 0.5s;
}

p {
  color: rgb(194, 43, 43);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 50px;
  padding-top: 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  text-align: center;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  text-align: center;
}

#first-col:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

#first-col:not(:hover) {
  transform: scale(0.9);
  transition: 0.5s ease-in-out;
}

.col-2 img {
  max-width: 60%;
  padding: 50px 0;
  margin-left: 100px;
}
